[Unit]
Description=cybele
Requires=bluetooth.service
PartOf=bluetooth.service

[Service]
Type=simple
User=pi
ExecStart=/usr/local/bin/node /home/pi/Cybele/app.js
WorkingDirectory=/home/pi/Cybele/
RestartSec=2
TimeoutStartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
